@keyframes pulse {
	 0% {
			transform: scale(0.95);
	 }

	 100% {
			transform: scale(1.22);
	 }
}
@keyframes fadeIn {
	 0% {
			color: currentColor;
	 }

	 100% {
			color: var(--color-primary);
	 }
}