@import 'base';

.header {
	 font-size: 1.4rem;
	 height: 7rem;
	 background-color: #fff;
	 border-bottom: var(--border-b);
	 display: flex;
	 align-items: center;
	 position: sticky;
	 top: 0;
	 z-index: 10;

	 @media only screen and(max-width: $bp-smallest) {
			flex-wrap: wrap;
			height: 11rem;
			align-content: space-around;
	 }
}

.search {
	 margin: 0 auto;
}

//svg {
//	 width: 1.5rem;
//	 height: 1.5rem;
//	 fill: var(--color-gray-dark-1);
//}

.content {
	 display: flex;
}

.sidebar {
	 background-color: var(--color-gray-dark-1);
	 flex: 0 0 18%;
	 display: flex;
	 overflow: hidden;
	 justify-content: space-between;
	 flex-direction: column;

	 @media only screen and(max-width: $bp-medium) {
			flex: 0 0 7%;
			flex-direction: column;
	 }
}

.main {
	 flex: 1;
	 display: flex;
	 flex-direction: column;
	 padding: 0 2rem;
	 justify-content: center;
}

.categories {
	 width: calc(100vw - 18vw - 6rem);
	 overflow-x: scroll;
	 place-items: center;
	 display: flex;
	 padding: 1.5rem;
	 //flex-wrap: wrap;

	 font-size: 1.4rem;
	 column-gap: 1.5rem;
	 align-items: center;
	 justify-content: start;
	 color: var(--color-gray-dark-1);
	 border-bottom: var(--border-b);
	 @media only screen and(max-width: $bp-medium) {
			padding: .5rem;
			width: calc(100vw - 7.7rem - 7vw);
	 }
}

.categories::-webkit-scrollbar {
	 display: none;
}

.content {
	 display: flex;
}

.videos {
	 padding: 2rem 0;
	 display: grid;
	 grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	 gap: 1.5rem;
}

.footer {
	 text-align: center;
	 border-top: 1px solid var(--color-gray-dark-1);
	 padding: 1.5rem 3rem;
	 margin-top: 2rem;

	 position: sticky;
	 top: 100%;
	 z-index: 10;
}
